<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <meta charset="utf-8">
        <title>raoweijian</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/static/css/md.css">
        <link rel="stylesheet" type="text/css" href="/static/css/common.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-3.3.7.min.css">

        <script src="/static/js/jquery-2.1.1.min.js"></script>
        <script src="/static/js/bootstrap-3.3.7.min.js"></script>
    </head>
    {% endblock %}
    <body>
        {% include 'nav.html' %}

        {% block content %}
        <div>This is origin content</div>
        {% endblock %}
    </body>
</html>
