{% extends "base.html" %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/github-markdown.css">
<link rel="stylesheet" href="/static/css/edit.css">
<script src='/static/js/showdown-1.8.6.min.js'></script>
<script src='/static/js/node_modules/vuelidate/dist/vuelidate.min.js'></script>
<script src='/static/js/node_modules/vuelidate/dist/validators.min.js'></script>
<script src='/static/js/editor.js'></script>
<script src='/static/js/paste.js'></script>

{% include 'highlight.html' %}
{% endblock %}

{% block content %}
<div id='container'>
    <!-- 标题和提交按钮 -->
    <ul>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="文章标题" id="title" v-model="title"></input>
        </div>
        <div class="col-lg-4">
            <a class="btn btn-danger btn-lg" id="button_publish" @click="publish">发表</a>
        </div>
    </ul>

    <!--编辑区-->
    <div id='editor-column'>
        <textarea id="mdeditor" :value="content" @keydown.enter="enter" @keydown.tab="tab" @input="update" @paste="pasteImage" @scroll="syncScroll">
        </textarea>
    </div>

    <!-- 预览区 -->
    <div id='preview-column'>
        <div id="preview" v-html="mdContent"></div>
    </div>
</div>
{% endblock %}
