{% extends "base.html" %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/github-markdown.css">
<link rel="stylesheet" href="/static/css/edit.css">
<script src='/static/js/showdown-1.8.6.min.js'></script>
<script src='/static/js/editor.js'></script>
<script src='/static/js/paste.js'></script>

{% include 'highlight.html' %}
{% endblock %}

{% block content %}
<div id='container'>
    <!-- 标题和提交按钮 -->
    <ul>
        <div class="col-lg-4">
            {% if title %}
            <input type="text" class="form-control" value="{{ title }}" id="title"></input>
            {% else %}
            <input type="text" class="form-control" placeholder="文章标题" id="title"></input>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <a class="btn btn-danger btn-lg" id="button_publish">发表</a>
        </div>
    </ul>
    <!--编辑区-->
    <div id='editor-column'>
        <textarea id="mdeditor">{{ content }}</textarea>
    </div>

    <!-- 预览区 -->
    <div id='preview-column'>
        <div id="preview"></div>
    </div>
</div>
{% endblock %}
