{% extends "base.html" %}

{% block head %}
{{ block.super }}
<script src="/static/js/index.js"></script>
{% endblock %}


{% block content %}
<div class='container'>
    {% if user.is_authenticated %}
    <div class="col-lg-12">
        <div style="float: right;">
            <a class="btn btn-info btn-md" style="margin: 10px" href="/export">导出</a>
        </div>
        <div style="float: right;">
            <a class="btn btn-info btn-md" style="margin: 10px" href="#import_modal" data-toggle="modal">导入</a>
        </div>
        <div style="float: right;">
            <a class="btn btn-info btn-md" id="write_new" style="margin: 10px" href="{% url 'index' %}new">写新文章</a>
        </div>
    </div>
    {% endif %}
    <table class="table">
        {% for pair in article_list %}
        <tr>
            <td><a href="{% url 'index' %}content/{{ pair.0 }}">{{ pair.0 }}</a></td>
            <td class="time_stamp">{{ pair.1 }}</td>
            {% if user.is_authenticated %}
            <td><a class="a_button" href="{% url 'index' %}content/{{ pair.0 }}/edit">编辑</a></td>
            <td><a class="a_button" href="{% url 'index' %}content/{{ pair.0 }}/delete">删除</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

</div>
{% include 'import.html' %}
{% endblock %}
