{% extends "base.html" %}

{% block head %}
{{ block.super }}
<script src="/static/admin/js/comment.js"></script>
<script src='/static/admin/js/showdown.js'></script>
<link rel="stylesheet" href="/static/admin/css/github-markdown.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script >hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                {% if request.user.username == "raoweijian" %}
                <div class="col-lg-12">
                    <div style="float: right;">
                        <a class="btn btn-info btn-lg" id="write_new" style="margin: 10px" href="{{ request.path }}/edit">编辑</a>
                    </div>
                </div>
                {% endif %}
                <div class="panel-body" id="content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function(){
    showdown.setOption('simpleLineBreaks', true);
    var converter = new showdown.Converter();

    var origin = $('#content').html();

    //去除行首多余的空格
    origin = $.trim(origin);
    console.log(origin);
    var to_html = converter.makeHtml(origin);
    to_html = escape2Html(to_html);
    $('#content').html(to_html);

    function escape2Html(str) {
        var arrEntities={'lt':'<','gt':'>','nbsp':' ','amp':'&','quot':'"'};
        return str.replace(/&(lt|gt|nbsp|amp|quot);/ig, function(all,t){return arrEntities[t];});
    }
});
</script>
{% endblock %}
