* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: #22313f;
}
#starsBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    opacity: .5;
}
#starsBox span {
    display: inline-block;
    width: auto;
    position: absolute;
    border-radius: 100%;
    transition: 100s linear;
}
p {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 50px black;
    text-transform: uppercase;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 5px;
}
p > span {
    display: block;
    font-size: 12px;
    color: #bdc3c7;
    margin-top: 30px;
    font-weight: 100;
    text-shadow: 0 0 50px black;
    letter-spacing: 3px;
}
p > span > a {
    font-weight: 700;
    text-decoration: none;
    color: #d64541;
    padding-bottom: 2px;
    border-bottom: 0px solid #d64541;
    transition: 0.5s;
}
p > span > a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #d64541;
}


.starFlick {
    animation: starFlick 1.5s ease-out infinite;
    -webkit-animation: starFlick 1s ease-out infinite;
}

.starFlick2 {
	animation: starFlick 2s ease-out infinite;
	-webkit-animation: starFlick 2s ease-out infinite;
}

.starFlick3 {
	animation: starFlick 2.5s ease-out infinite;
	-webkit-animation: starFlick 3s ease-out infinite;
}

.starFlick4 {
	animation: starFlick 3.3s ease-out infinite;
	-webkit-animation: starFlick 4s ease-out infinite;
}


@keyframes starFlick{
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}

.moon { position: absolute; top:6%; left: 10% ;width: 200px; height: 200px; border-radius: 200px; background:#fff;z-index: 99 ;}
.shadow {-moz-box-shadow:0 0 100px #fff;  -webkit-box-shadow:0 0 100px #fff;  box-shadow:0 0 100px #fff;}
