{% extends "base.html" %}

{% block content %}
<div v-cloak class="container" id="container">
    {% if current_user.is_authenticated %}
    <a class="btn btn-info btn-md" style="margin: 10px;" href="/article/new">写新文章</a>
    {% endif %}

	<el-table :data="articles">
		<el-table-column label="标题" width="700">
            <template slot-scope="scope">
                <a :href="scope.row.link">[[ scope.row.title ]]</a>
            </template>
        </el-table-column>
        <el-table-column prop="create_time" label="时间" width="200"></el-table-column>
        <el-table-column label="" width="200">
            <template slot-scope="scope">
                {% if current_user.is_authenticated %}
                <el-popover placement="top" title="" width="200" trigger="click">
                    <p>确定删除吗？</p>
                    <div style="text-align: right; margin: 0">
                        <el-button type="primary" size="mini" @click="deleteArticle(scope.row.id)">确定</el-button>
                    </div>
                    <el-button slot="reference" size="mini">删除</el-button>
                </el-popover>

                {% endif %}
            </template>
        </el-table-column>
    </el-table>
</div>

<script src="/static/js/index.js"></script>
{% endblock %}
